<section>
    <div class="viewuser">
        <h1>Contact Details</h1>
        <p>
            <h3>Name : <i>{{user.Name}}</i></h3>
        </p>
        <p>
            <h3>Phone Number : <i>{{user.PhoneNumber}}</i></h3>
        </p>
        <p>
            Gender : <i>{{user.Sex}}</i>
        </p>
        <p>
            <h3>Address:</h3>
            <p>
               <i> Street : {{user.Address.Street}},</i><br />
                <i>City : {{user.Address.City}},</i><br />
                <i>Pincode : {{user.Address.Pincode}}</i><br />
            </p>
        </p>
        <a href="#/"> <- Back to Contact list</a>
    </div>
</section>